.skills1 {
    background: white;
    padding-bottom: 3rem;
  }
  
  .skills1 .container {
    max-width: 900px;
  }
  
  .skills1 .container h2 {
    text-align: center;
    color: black;
    margin-bottom: 3rem;
  }
  
  .skills1 .container .skills1-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
    padding: 40px;
    border-radius: 3px;
  }
  
  .skills1 .container .skills1-card > *:last-child {
    margin-top: 40px;
  }
  
  @media (max-width: 500px) {
    .skills1 .container .skills1-card {
      padding: 20px;
    }
  }
  
  .skills1 .container .skills1-card .skills1-card-column {
    display: flex;
  }
  
  .skills1
    .container
    .skills1-card
    .skills1-card-column
    .card-column-image {
    flex: 0 0 20%;
  }
  
  .skills1
    .container
    .skills1-card
    .skills1-card-column
    .card-column-image
    img {
    width: 100%;
  }
  
  .skills1
    .container
    .skills1-card
    .skills1-card-column
    .card-column-large {
    flex: 0 0 80%;
    padding-left: 1.5rem;
  }
  
  .skills1
    .container
    .skills1-card
    .skills1-card-column
    .card-column-large
    > * {
    margin: 0.25rem 0;
  }
  
  .skills1
    .container
    .skills1-card
    .skills1-card-column
    .card-column-large
    h4 {
    font-weight: normal;
  }
  
  .skills1
    .container
    .skills1-card
    .skills1-card-column
    .card-column-large
    ul {
    padding-left: 1.5rem;
  }
  
  .skills1
    .container
    .skills1-card
    .skills1-card-column
    .card-column-large
    hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 40px;
  }